.alert-fixed-top{ top:60px;}
.red { color: #f00; }
.sms_inforamtion{float: right;}
/*admin alert modal part start*/
.modal { display: none; position: fixed; z-index: 2; padding-top: 100px; 
  left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);}
.modal-content { background-color: #fefefe; margin: auto; padding: 40px;
  border: 1px solid #888; width: 50%;}
.close { color: #000; float: right; font-size: 28px; font-weight: bold;}
.close:hover,.close:focus { color: #000; text-decoration: none; cursor: pointer;}
/*admin alert modal part end*/

/*admin login page part start*/
.lead{font-size:35px;}
.admin-login-form label{ font-size:20px;font-weight:500; }
/*admin login page part end*/

/*admin profile page part start*/
.modal_admin_profile,.form-popup2,.modify_email_text,.already-assigned{ display: none; position: fixed; z-index: 2; padding-top: 100px; 
  left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);}
.already-assigned{display:block;}
.modal-content { background-color: #fefefe; margin: auto; padding: 40px;
  border: 1px solid #888;max-width: 500px;}
.close { color: #000; float: right; font-size: 28px; font-weight: bold;}
.close:hover,.close:focus { color: #000; text-decoration: none; cursor: pointer;}  
/*admin profile page part end*/

/*user list page start*/
.blocked_customer{ margin-bottom: 50px; padding-top: 15px;}
/*user list page start*/

/*admin profile page start*/
.profile-data{display: flex;flex-wrap: wrap;}
/*admin profile page end*/

/*add new product page part start*submit_add_item*/
.submit_add_item{padding:0;}
/*add new product page part start*submit_add_item*/

/*Manage Scrap Request page part start*submit_add_item*/
.pick_up_date .glyphicon,.pick_up_date_slot .glyphicon {cursor:pointer;}
.assign-to-vendor{float: right;}
/*Manage Scrap Request page part start*submit_add_item*/

/*Manage Mange location type page part start*/
.location_instruction{color:#a94442; font-size:16px;}
/*Manage Mange location type page part start*/

/*pick config part is start*/
.bootstrap-datetimepicker-widget table td{font-weight: 700}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget
 table td.disabled:hover {color: #D3D3D3 !important; cursor: not-allowed;}
 .holiday_config .holiday_date{padding: 0;}
.location_pickup_config .holiday_list {padding: 0}
/*.location_pickup_config	.location_address{border: solid 1px #449D44}*/
.location_pickup_config	.location_address .page-header{padding-left: 15px;}
.location_pickup_config .days_setting,.location_pickup_config .days_setting .page-header{padding: 0}
.location_pickup_config .update_days{margin: 20px 0;}
.location_pickup_config .holiday_date_list .page-header{margin-bottom: 0}
.location_pickup_config .holiday_date{padding: 0;}
.location_pickup_config .from_date_div{padding-left: 0}
.location_pickup_config .to_date_div{padding-right: 0}
.location_pickup_config .update_date{margin-bottom: 20px;margin-top: 25px;margin-left: 15px;}
.location_pickup_config .holidays_type{margin-top: 40px;}
.location_pickup_config .delete_apartment_days,.location_pickup_config .delete_locality_days,.location_pickup_config .delete_apartment_dates,.location_pickup_config .delete_locality_dates{margin-bottom: 40px}
.location_pickup_config .holiday_date{margin-top: 30px;margin-bottom: 10px}
.location_pickup_config .holiday_date_list .page-header{padding: 0;}
.location_pickup_config .holiday_date div{padding-left: 0}
/*pick config part is end*/

/*periodic frequency config page part is start*/
.periodic_frequency_config .periodic_frequency{padding: 0;}	
.periodic_frequency_config .frequency_name_div{padding-left: 0;}
.periodic_frequency_config .insert_frequency{margin-top: 25px;}
.periodic_frequency_config .periodic_frequency{margin-bottom: 30px}
.periodic_frequency_config .frequency_list{padding-top: 10px}
.periodic_frequency_config .form-group{margin-bottom: 5px;}
/*periodic frequency config page part is end*/

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.floatR.refresh-data {
    display: none;
}