@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,500');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600,700,800');
@font-face {
  font-family: 'Dosis-Book';
  src: url('../fonts/Dosis-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/Dosis-Book.woff') format('woff'), url('../fonts/Dosis-Book.ttf')  format('truetype'), url('../fonts/Dosis-Book.svg#Dosis-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
.datetimepicker_parent{border:1px solid #000;padding: 20px!important; border-radius: 10px;}
.bootstrap-datetimepicker-widget table thead tr th.picker-switch{text-align: center;}
.datepicker table tr td.active:active,.datepicker table tr td.active.highlighted:active, 
.datepicker table tr td.active.active,.datepicker table tr td.active.highlighted.active {
   background-color: #26A65B; border-radius: 25px;}
.bootstrap-datetimepicker-widget table td{font-weight: 500;text-align: center;}
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget
 table td.disabled:hover {color: #D3D3D3 !important; cursor: not-allowed;}
/*Generic CSS*/
ul { margin:0; padding: 0; }
body{ margin:0; font-family: 'Encode Sans Condensed', sans-serif; font-size: 16px; }
hr{margin-bottom: 0px;}
.row{margin: 0!important;}
img { max-width: 100%; }
.alert .alert-success-heading{padding:0 15px;}
.alert{padding:10px; text-align: center;}
/*.alert-inbox-session span{margin-top: 30px;position: relative;}*/
.notification_div{margin-top: 30px;position: relative;}
.notification_div .notification_icon{padding: 0 0 20px 30px;background: url("../images/icons/notification_icon.png") no-repeat center center;
background-color: #DD1D21; position: absolute; height: 100%; width: 50px;}
.alert-inbox-session{font-size:18px;}
.alert-warning{color:#000;}
.table.table-striped td { vertical-align: middle; }
.list li { list-style-type: none; }
/* Button used to open the contact form - fixed at the bottom of the page */
#myForm{width: 100%; height: 100%; top: 0; background: rgba(0,0,0,.5);}
#myForm .modal-dialog{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.open-button {
  background-color: #555;color: white;padding: 16px 20px;border: none;cursor: pointer;opacity: 0.8;position: fixed;bottom: 23px;right: 28px;width: 280px;}
.breadcrumb li a, .breadcrumb li { font-size: 16px; font-weight: 500; }
#myForm .div_danger1 p{margin-bottom:20px;}

/* The popup form - hidden by default */
.form-popup {display: none;position: fixed;bottom: center;z-index: 999;}
/* Add styles to the form container */
.form-container {padding: 10px;}
/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {width: 100%;padding: 15px;margin: 5px 0 22px 0;border: none;background: #f1f1f1;}
/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {background-color: #ddd;outline: none;}
/* Set a style for the submit/login button */
.form-container .btn {color: white;padding: 16px 20px;border: none;cursor: pointer;width: 100%;margin-bottom:10px;opacity: 0.8;font-size:16px;}
/* Add a red background color to the cancel button */
.form-container .cancel {background-color: red;}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {opacity: 1;}
.header { background: #fff; z-index: 999; }
.sticky { position: fixed; top:0; left:0; width: 100%; }
.header.sticky .upper-header{ display: none; }

.header.sticky hr { margin-top: 0px; }
.header.sticky .greenree-logo img { width: 65%; }
.header.sticky .nav.nav-pills.navbar-right { margin-top: 14px !important; }
.header.sticky .nav-bar { padding-top: 5px; margin-bottom: 5px; }

/*Header*/
.navbar-default{min-height: 0;}
.float-right,.float-right ul li{float:left;color: #fff; padding:0 2px; }
.upper-header{background-color: #26A65B !important; color: #fff; min-height: auto; padding: 7px 0;}
.upper-header-social{list-style-type: none; float: right; }
.upper-header-social li a{background:
url("../images/icons/header-social-media.png") no-repeat; width: 30px; height: 28px;}
.upper-header-social .google a{background-position:-30px 0; }
.upper-header-social .twiter a{background-position:-60px 0; }
.upper-header-social .instagram a{background-position:-90px 0; }
.upper-header-social li a{float: left;}
.upper-header .mail { padding-left: 25px; background:
url("../images/icons/header-email-logo.png") no-repeat scroll left center; line-height: 28px; font-weight: 500; }
.upper-header .mail a { color: #fff; }
.nav-pills>li>a { border-radius: 0; }
.nav-pills > li.scroll-item > a { font-size: 16px; font-weight: 600; text-align: center; }
.nav-pills>li+li { margin-left: 0;  }
.nav-bar{padding-top: 15px;margin-bottom: 15px;/* box-shadow: 0px 3px grey;*/}
.navbar-nav{display: none;}
.nav>li>a {padding:10px 15px; }
.dashboard-header .nav-tabs .active a:hover { cursor: pointer; }
.menu-list .nav>li>a { padding: 5px 10px; }
.nav-bar-btn a{font-weight: 600; color: #000}
.nav-bar-btn a:hover,.nav-bar-btn a:active{color: #f0792e;}
.nav>li>a:hover, .nav>li>a:focus { background: transparent;  }
.login-user,.all_wishlist{border-left: 1px solid;}/*{font-weight: 600;background-color: #ef792d!important; color: #fff!important;}*/
.shop_now,.wallet_cash{background-color: #EF8600!important;;}
.shop_now,.wallet_cash,.user_products, .register-user{font-weight: 600;
	color: #000!important; }
.wallet_cash{margin-left: 318px;}
/*.user_products, .register-user{background-color: #000!important;}*/
.user_products{width: 210px;}
.login-user{padding-right: 16px!important;}
.navbar-right{margin-left: 100px;}
.dashboard{width: auto;}
.register-user{padding-left: 21px!important;padding-right: 20px!important;}
.cart_btn a{padding:5px 0 !important;/*background-color: #fff !important; color: #fff;*/}
.cart_btn a.dropdown-toggle{background-color: #fff !important; color: #fff;}
.cart_btn .label-default {color: #000;padding: 0;background: none !important}
.cart_btn a .glyphicon-shopping-cart{color: #26A65B; }
.cart_btn a:hover .glyphicon-shopping-cart {color:#f0792e;}
.user-drop-down a{background-color: unset!important; text-decoration: none;
	color: #000!important;}
.redeem:active>a,.scrap:active>a{color: #555; cursor: default; background-color: #fff;
    border: 1px solid #ddd; border-bottom-color: transparent;}
.dropdown:hover .dropdown-menu { display: block; margin-top: 0; }    
.nav-pills>li.active>a{color: #f0792e !important; background-color: unset !important;} 
    
/*Banner Part*/
.home-slider{width: 63.5%;}
#carousel-example-generic{margin-bottom: 0;}
.carousel-caption{display: none;}
.carousel-indicators{left: auto; right: 10px; width: auto;}
.banner-side-image{width: 35.6%; padding: 0;}
.banner-side-image div{padding: 0 }
.banner-side-image3 a{/*background:#F2782D;text-decoration: none;*/display:block;}
.banner-side-image3 span,.banner-side-image4 span{color: white; position: absolute; right: 10px; top: 2px;}
.banner-side-image a{/*background:#001A47;text-decoration: none;*/display:block;padding: 0 !important;}
.banner-side-image img{vertical-align: unset;padding: 0;}
.banner-side-image1,.banner-side-image3{padding-right: 2px!important;}
.banner-side-image2,.banner-side-image4{padding-left: 2px!important;}
/*About Us*/
.about-us{ margin-bottom: 50px;}
.about-us h3{ font-size: 36px; font-family:'Dosis', sans-serif; font-weight: 600; 
padding-bottom: 15px;}
.about-us-text{float: left;}
.button{background: #26a55b; color: #fff; padding: 10px 20px; border: 1px solid; text-decoration: none; display: inline-block}
.button:hover { color: #fff; text-decoration: none; }
.about-us p{font-size: 18px;font-family: 'Dosis-Book'; padding-bottom: 20px;}
.about-us p b{color: #26a65b;}
.dustbin-box{float: right; text-align: right;}
.facts { background: url(../images/icons/Bulb.png)no-repeat 0 0; padding-left: 70px; font-size: 22px; line-height: 1.5; color: #000; margin-bottom: 50px; font-weight: bold; color: #dc5500}
.carton-box .row { display: flex; align-items: center;  }
.carton-box h3 { font-size: 36px; color:#dc5500; font-family: 'Dosis', sans-serif; }
.about-us-howitworks{text-align: center;color: #fff;}
.about-us-howitworks a{color: #000;font-weight: 500;}
.quote,.quote .quote-text{font-size: 22px; font-weight: bold;}
.quote .quote-text{margin-bottom: 20px; min-height: 30px;display: inline-block;
 padding: 0 50px;margin-left: 20px;text-align:center;
 background: url("../images/icons/open-quote.png")no-repeat scroll left 0,url("../images/icons/open-quote1.png")no-repeat scroll right 100%;}
.upper-header .top-nav li { list-style-type: none; margin-left: 10px; }
.upper-header .top-nav li a { color: #fff; text-decoration: none; font-weight:500; line-height: 28px; background: url("../images/icons/top-sprite.png")no-repeat scroll 0 0; padding-left: 35px; display: block;}
.upper-header .top-nav li a.faq { background-position:0 -28px; }
.upper-header .top-nav li a.contact {background: url("../images/icons/how_it_works.png")no-repeat scroll 5px 5px;}
.upper-header .top-nav { float: right; margin-right: 20px; }
.form-control.otp { width: 100px; margin-right: 10px; display: inline-block; } 
.reuse-reduce-logo { float: left; }
.reuse-reduce.even .reuse-reduce-logo { float: right; }
.blinking{ animation:blinkingText 1s infinite; }
@keyframes blinkingText{
    0%{ color: #000; }
    49%{ color: transparent; }
    50%{ color: transparent; }
    99%{ color:transparent;  }
    100%{ color: #000; }
}
.closing-view .close-comment { display: none; }
form.close-product { border: 1px solid #ccc; padding: 30px 15px; border-radius: 5px; margin-top: 3em; }
.closing-view .closing-view-div { margin: 3em auto !important; width: 40%; float: none; }
/*The Process*/
.the-process{background-color: #f1c40f;padding-top: 70px; font-family:'Dosis', sans-serif; font-weight: 500; }
.the-process h4{font-size: 24px;}
.carton-boxes,.sell-paid,.pick-up,.blue-arrow,.orange-arrow{padding-left:200px;}
.carton-boxes{background: url("../images/icons/cartoon-box-paper.png") no-repeat;}
.carton-boxes ul{padding-left: 15px;}
.carton-boxes ul{list-style: none;}
.carton-boxes ul li::before {content: "\2022";color: #006323;font-weight: bolder;display: inline-block; width: 1em;margin-left: -1em; font-size: 16px;}
.carton-boxes b{color: #006323;}
.the-process-text {font-size: 30px; line-height: 1; font-weight: 500;padding-top: 40px;margin: 0; text-align: center;}
.the-process-text span {font-size: 60px; font-weight: 700; color: #dc5500; display: block;}
.sell-paid{background: url("../images/icons/four-doller-sign.png") no-repeat;padding-bottom: 
40px;}
.the-process .row:last-child{padding-bottom: 50px;}
.pick-up{background: url("../images/icons/boy-with-cartoonbox.png") no-repeat;
background-position: 0px 15px;padding-bottom: 20px;}
.blue-arrow{background: url("../images/icons/blue-arrow.png") no-repeat;
    background-position: 160px 0px;}
.orange-arrow{background: url("../images/icons/orange-arrow.png") no-repeat;}
.blue-arrow,.orange-arrow{height: 150px;}
/*Globe part*/
.globe-part{padding-top: 70px;margin-bottom: 60px;}
.globe-part-text{font-size: 36px;font-weight: 600; font-family:'Dosis', sans-serif;}
.globe-part-text p{ text-align: center; }
.globe-part-content{padding-top: 40px;}
.globe-part-img{text-align: center; padding-top: 25px;}
.globe-part-list span{color: #227e88; font-size: 48px; font-family:'Dosis', sans-serif;font-weight: 600; }
.globe-part-list span:nth-child(2){color: #f0792e; font-weight: 800;}
.globe-part-list ul{list-style: none;padding-top: 30px;}
.globe-part-list ul li{ padding-left: 150px; padding-bottom: 20px; }
.globe-part-list ul li:first-child{background: url("../images/icons/globe-li-1.jpg") no-repeat;}
.globe-part-list ul li:nth-child(2){background: url("../images/icons/globe-li-2.jpg") no-repeat;}
.globe-part-list ul li:nth-child(3){background: url("../images/icons/globe-li-3.jpg") no-repeat;}
.globe-part-list ul li:last-child{background: url("../images/icons/globe-li-4.jpg") no-repeat;}
.globe-part-list ul li h4{ text-transform: uppercase;color: #217d87;font-size: 22px;font-family:'Dosis', sans-serif;font-weight: 600; }
.globe-part-list ul li p{font-size: 18px;font-family:'Dosis', sans-serif; }
/*Reduce reuse part*/
mark{background-color: #308DFC;color: #fff;}
.reuse-reduce-part{padding-top: 90px;}
.printer{background: #fff;}
.printer-part1{padding-left: 55px}
.printer-part .top {color: #227e88; font-size: 60px; font-family:'Dosis', sans-serif;
font-weight: bold; }
.printer-part .top span {color:#f0792e; display: inline-block; padding-left: 5px }
.printer-part .middle {color:#318790; font-size: 36px; font-family:'Dosis', sans-serif; font-weight: 600; line-height: 1; margin-bottom: 30px;}
.printer-part .middle span {color: #f0792e; font-size: 42px; display: block;}
.printer-part .bottom { font-size: 22px;  }
.printer-part .bottom1,.printer-part .bottom2 a,.printer-part1 .bottom1 { font-size: 20px;  }
.printer-part .bottom2 a,.printer-part .bottom1 a{color: #000;font-weight: 500;}
/* .printer-part .bottom span { display: block;  } */

.reuse-reduce { padding: 50px 0; }
.carton-box { background: #f0f0f0; }
.reuse-reduce-image { text-align: center;}

/*app link part*/
.app-link .row{background-color: #EEECD7; padding: 10px 0; }
.app-link .app-link-text{font-size: 24px !important;font-weight: 600; display: flex; align-items: center; height: 52px;}
.app-link .app-link-img{padding:5px;text-align:right;}
.app-link-img img:first-child { margin-right: 10px; }
.app-link-img img { max-width: 150px; display: inline-flex; }
.app-link { margin-bottom: 35px; }

/*footer*/
.footer{padding-bottom: 0;}
.footer{margin-top: 0;padding-top: 0;}
.footer-top{background-color: #252525; color: #fff; font-family: 'Dosis', sans-serif;}
.footer-top-text{padding: 60px 0;}
.footer-top-logo{background: url("../images/icons/greenree-logo-footer.png") no-repeat;
width: 220px;height: 66px;}
.footer-top-logo-text{text-align: left;color: #c1c1c1; padding-top: 30px;     line-height: 1.8; padding-right: 35px;}
.footer-top-header{color: #fff; padding-bottom: 10px; padding-top: 40px; text-align: left;}
.footer-top .quick-links,.footer-top .get-in-touch{list-style: none; text-align: left;}
.footer-top .quick-links li{background: url("../images/icons/quick-link-li.png") no-repeat; padding-left: 25px; padding-bottom: 10px;}
.footer-top .get-in-touch li{background: url("../images/icons/footer-social-bg.png") no-repeat; padding-left: 20px; padding-bottom: 5px;}
.footer-top .get-in-touch li span.text { min-width: 105px; display: inline-block;  }
.footer-top .get-in-touch li a, .footer-top .get-in-touch li span:not(.text) { padding-left: 5px; }
.footer-top .get-in-touch li:nth-child(2){background-position: 0px -24px;}
.footer-top .get-in-touch li:nth-child(3){background-position: 0px -52px;}
.footer-top .get-in-touch li:last-child{background-position: 0px -84px;}
.footer-copyright{background-color: #25a55b; padding: 10px 0; color: #fff;}
.footer li a, .footer li, .footer span { color: #c1c1c1; }
.footer .google-reviews-wrapper{padding-left: 5px;padding-right: 5px; margin-top: 10px; border-top: 5px solid #4FCE6A; background-color: #fff;padding-bottom:5px;max-width:270px;}
.footer .google-reviews-wrapper h4{margin-bottom: 0;color: #000;padding-top: 5px;font-weight:700; padding-top: 10px; margin-top: 0;} 
.footer .google-reviews-wrapper .google-reviews-svg{float: left;padding: 2px;margin-right: 20px;}
.footer .company_name, .footer .average_rating, .footer .total_star_rating{display: none;}
.footer #schema {text-align: initial; padding-left: 50px;}
.footer #schema span{color: #777777;}

.scrap_list_table .periodic,.scrap_list_table .non-periodic{background-color: #A1E2BE !important;font-size: 20px;}
.scrap_list_table .active .periodic{background-color: #EDC796 !important;font-size: 20px;}
.scrap_list_table .active .non-periodic{background-color: #EDC796 !important;font-size: 20px;}
.customer_presence + .tooltip > .tooltip-inner { left: 100%;}
.dashboard-header .nav-tabs{background: #8fbc8f; border: none;}
.dashboard-header .nav-tabs .active a{background:#5f9ea0; color: #000;font-weight: 500}
.dashboard-header .nav-tabs li a{font-size: 20px;color: #fff;font-weight: 500;;}

/*How it works Page Page part start*/
.sell-scrap h3,.preowned h3,.wishlist h3,.shop-section h3{ text-align: center; font-size:
 36px; font-family:'Dosis', sans-serif; font-weight: 600; padding-bottom: 5px;color: #25A55B;}
.sell-scrap .scrap-image div{text-align: center;padding: 10px 10px 20px;}
.sell-scrap-subheading,.preowned-heading,.wishlist-subheading,.shop-section-heading{font-size: 25px;
	padding-bottom: 10px;}
.sell-scrap .periodic-list,.sell-scrap .non-periodic,.preowned .preowned-list,
.shop-section .shop-section-list,.wishlist .wishlist-list{font-size: 20px;font-family: 'Dosis-Book';padding-left:50px; }
.sell-scrap .non-periodic-heading,.sell-scrap .periodic-heading,.preowned
.shop-section-heading{font-size: 22px;padding-top: 20px;}	
.preowned .preowned-list,.shop-section .shop-section-list,.wishlist
 .wishlist-list{font-weight: 500;}
.preowned .info,.wishlist .info,.shop-section .info,.sell-scrap .info{
 background-color: #E7F3C9; color: #f0792e; padding: 5px 10px 1px;margin-top: 20px;
margin-bottom: 20px;}
.shop-section .info ul{padding-left: 20px;}

/*How it works Page Page part end*/

/*contact us Page Page part end*/
.contact-us-text{background-color: #F2F2F2;}
.contact-us-text h3{padding: 20px 10px;font-size: 35px;}
.contact-us-text .get-in-touch{list-style: none;}
.contact-us-text .get-in-touch li{padding: 10px;}
/*contact us Page Page part end*/

/**scrap request Page part start*/
.request-box .request_details1_header,.request-box .request_details_header
{margin-bottom: 20px;}
.request-box .pick_up_frequency{max-width: 300px;margin: 0 auto;}
.request-box .periodic_scrap_comment{color: #26A65B;}
.form-group-request-type .request-type-heading, .form-group-customer-presence 
.request-type-heading{ font-size: 20px; display: block;text-align: center; }
.form-group-request-type .request-type-text,.form-group-customer-presence 
 .request-type-text,.customer-presence-day-text span{font-size: 20px; font-weight: 500; margin-right: 20px; }
.form-group-request-type .request-type-text:nth-child(3){padding-left:20px;}
.form-group-request-type .request-type-text span,.form-group-customer-presence 
 .request-type-text span, .form-group-scrap-type .request-type-text span,.customer-presence-day-text span{ padding-left: 5px; top: 60px; position: relative; }
.pick_up_frequency{padding-top:25px;padding-bottom:10px;}


.request-address-box{padding-top: 0px;}
.request-address-box .form-group-name label,.request-address-box .form-group-country label,
.request-address-box .form-group-city label,.request-address-box .form-group-apartment label,
.request-address-box .form-group-email label,.request-address-box .form-group-state label,
.request-address-box .form-group-locality label,.request-address-box .form-group-flat_no label
{font-size: 20px;font-weight: 500!important;}
.how_it_works a { color: #f0792e; font-size: 16px; }
.req-type-1 { background: url("../images/icons/periodic.png")no-repeat center center; height: 50px; }
.req-type-2 { background: url("../images/icons/One-time.png")no-repeat center center; height: 50px; } 
#request_type, .request-type-text input { top: 60px; position: relative; }
.not-present-in-pickup { background: url("../images/icons/no.png")no-repeat center center; height: 60px; width: 60px; }
.present-in-pickup { background: url("../images/icons/yes.png")no-repeat center center; height: 60px; width: 60px; }
.sell-scrap-type { display: flex; justify-content: center; padding: 30px 0; }
.present-in-pickup input, .present-in-pickup span, .not-present-in-pickup input, .not-present-in-pickup span { left: 5px; }
.request-address-box { background: url("../images/your-details-bg.jpg")no-repeat center center; background-size: cover; }

.customer-presence-day-text.sat { background: url("../images/icons/calendar-icon.png")no-repeat center center; height: 60px; margin-right: 40px; }
.customer-presence-day-text.sun { background: url("../images/icons/Sun.png")no-repeat center center; height: 60px; }
#customer_presence_day, .customer-presence-day-text span { position: relative; top: 60px; }
.two-options { display: flex; justify-content: center; padding: 65px 0 25px 0; }
.two-options label:hover { cursor: pointer; }
.sell-scrap-type.two-options{ padding-top: 30px; }
.request_details{display: flex;flex-wrap: wrap;}
.request_details .first-half { background: #26a65b; width: 46%; margin-right:4%; padding: 0px 20px 0px; }
.request_details .second-half { background: #26a65b; width: 46%;margin-left:4%;  padding: 0px 20px 0px; }
.request_details .first-half .form-group-name input, .request_details .second-half .form-group-email input{margin-top: 30px}
.request_details .first-half .form-group-apartment, .request_details .second-half .form-group-flat_no{margin-bottom: 50px;}
.text-center.request_details_header { padding-bottom: 25px;width: 100%}
.request_details .first-half .form-group-name,.request_details .first-half .form-group-country
.request_details .first-half .form-group-city,.request_details .first-half .form-group-apartment{width:100%;}
#submit_address,#submit_request,#submit_scrap_request, #submit_scrap_update { margin: 50px auto 30px; display: block; background: #000 !important; border-radius: 50px; border: 0; padding: 10px 50px; }
.request-address-box .request_details .request_details_header{padding-top: 30px;}
.request_details input, .request_details select { background: transparent !important; border: 0; border-bottom: 1px solid #000; border-radius: 0; box-shadow: none; padding: 0px 5px; }
.form-group.form-group-request-type,.form-group.form-group-customer-presence { margin-bottom: 50px; }
.request_details input:focus, .request_details select:focus { box-shadow: none; border-bottom: 1px solid #f0792e; }
.request_details input::placeholder { color: #fff!important; } 
.sell-scrap-type label:hover { cursor: pointer; }
.banner-section .container { width: 100%; padding: 0; }
.banner-caption { position: absolute; top: 40%; font-size: 32px; font-weight: 600; color: #fff; text-align: center; width: 100%; }
.banner-section { position: relative; margin-bottom: 30px; }
.banner-section img { width: 100%; }
.request_details1_header { margin-bottom: 60px !important; }
.banner-section { background: url("../images/Shop-banner.jpg")no-repeat center center; background-size: cover; width: 100%; height: 275px; }
.request_details input, .request_details select { color: #fff; }
.text-danger-request-type,.pre_prefered_pickup_date,.text-danger-customer-presence-day,.text-danger-customer-presence,.text-request-id{text-align:center;}
.text-danger-request-type p{padding-top:10px;}
.submit_request_id{clear:both;}  
.submit_request_id{text-align: center;}

/*scrap request Page part end*/

/*customer availibility part*/
.apartment-otp-text{margin-bottom:10px;}
.apartment-otp-page-modal .modal-content .cancel{margin:0;}

/* About Us page */
.about-us-page li { background: url("../images/icons/li-arrow_1.png")no-repeat left center;padding-left: 35px; list-style-type: none;  margin-bottom: 15px; line-height: 26px; }
 .about-us-page .container { width: 100%; padding: 0; }
#sell-scrap .inner-section, #preowned .inner-section, #shop-section .inner-section, #wishlist .inner-section { width: 1170px; margin: 0px auto !important; }
#preowned, #preowned, #shop-section, #wishlist { margin: 30px 0 !important; } 
#preowned, #wishlist { background: #f0f0f0; padding: 40px 0; }
#wishlist { margin-bottom: 0 !important; }
.about-us-page .align-right { float: right; }
.wishlist-list, .preowned-list { padding-left: 0 !important; }
.about-us-page .info {  background: url("../images/icons/note_17.png")no-repeat left center; padding: 0 0 0 58px; display: table; }
.about-us-page .info p > strong { display: table-cell; vertical-align: middle; height: 50px; }
#sell-scrap .info, #shop-section .info { margin-left: 50px; }
.add-product-form, .add-wishlist-form{ display: flex;  flex-wrap: wrap;}
.add-product-form > div:last-child { width: 100%; }
.add-product-form .error label { color: #a94442 }

/*wishlist add Page part start*/
.wishlist_cat h3{padding-left:20px}
.wishlist-add-view h2{ margin-bottom: 40px; }
.wishlist-add-view .product_div{margin-bottom: 15px;}
/*.wishlist-add-view .product_description_div label,.wishlist-add-view .product_category_div*/
/*label,.wishlist-add-view .product_quantity_div label,.wishlist-add-view .product_name_div */
/*label,.wishlist-add-view .product_remove_btn_div input,.wishlist-add-view .product_add_btn_div*/
/*input {font-size: 22px;font-weight: 500;}*/
.wishlist-add-view .product_remove_btn_div input,.wishlist-add-view .product_add_btn_div
input { padding: 0 15px; }
.wishlist-tiles .form-group{    margin-bottom: 6px;}

/*wishlist add Page part end*/

/*wishlist close view Page part start*/
.wishlist-closing-view h2{margin-bottom: 40px;}
/*wishlist close view Page part end*/

/*wishlist edit view Page part start*/
.wishlist-edit-view h2{margin-bottom: 40px;}
.wishlist-edit-view .product_div{margin-bottom: 15px;}
.wishlist-edit-view .product_description_div label,.wishlist-edit-view .product_category_div
label,.wishlist-edit-view .product_quantity_div label,.wishlist-edit-view .product_name_div 
label,.wishlist-edit-view .product_update_btn_div input{font-size: 22px;font-weight: 500;}
.wishlist-edit-view .product_update_btn_div input{ padding: 0; }
/*wishlist edit view Page part end*/

/*wishlist tiles view Page part start*/
.wishlist-tiles-view .wishlist-tiles{padding: 15px 20px 10px;}
.wishlist-tiles-view .wishlist-tiles .caption{padding: 0;}
.wishlist-tiles-view { display: flex; flex-wrap: wrap; } 

/*wishlist tiles view Page part end*/

.my-orders .panel-default tr th{min-width: 110px;}

/*scrap order list Page part start*/
.tab-content #Periodic, .tab-content #Non-Periodic, .my-orders .panel.panel-default{overflow-x: scroll; width:100%;}
.tab-content #Periodic tr th, .tab-content #Non-Periodic tr th{min-width: 150px;}
/*.scrap-order-list .request-info-box .alert{margin-bottom: 50px;}*/
.scrap-order-list #Periodic .alert,.scrap-order-list #Non-Periodic 
.alert{margin-top:20px;margin-bottom:0px;}
.scrap-order-list .table-striped{margin:0;font-size:100%;}
/*scrap order list Page part end*/

/*admin alert modal part start*/
.modal,.modal1,.modal2,.new-form-popup, .product_info_popup { display: none; position: fixed; z-index: 2; padding-top: 100px; 
  left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);}
.modal-content { background-color: #fefefe; margin: auto; padding:30px 40px;
  border: 1px solid #888;max-width: 500px;}
.close { color: #000; float: right; font-size: 28px; font-weight: bold;}
.close:hover,.close:focus { color: #000; text-decoration: none; cursor: pointer;}
.modal-content .cancel{margin:20px;}
/*admin alert modal part end*/

/*Back to top*/
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #26A65B  url(../images/icons/up-arrow.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #26A65B;
  opacity: 1;
}
.request_details select.form-control option { color: #000; }

/* Shop */
.shop-add-new-product input,.shop-add-new-product1 input{margin-bottom:15px;}
.shop-add-new-product1{ display:none;}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { opacity: 1; }
.shop-view .input-lg#quantity { box-shadow:none; border: 1px solid #ccc; width: 70px; margin-left: 10px;}
.shop-view .panel-default { border: 0; box-shadow:none; }
.shop-view .product-name { margin-top: 0; }
 .shop-view #add_to_cart { float: initial; width: auto; margin: 0 5px 5px}
 .shop-view .thumbnail.main-img { display:flex; align-items: center; min-height: 300px;  }
.shop-view .quantity-wrap { max-width: 400px; }
.product-view .product-slider { padding: 30px 45px;; }
.product-view .product-slider #carousel { margin: 0; }
.product-view .product-slider #thumbcarousel { margin: 12px 0 0; padding: 0px; }
.product-view .product-slider #thumbcarousel .item { text-align: center; }
.product-view .product-slider #thumbcarousel .item .thumb { border: 1px solid #cecece; width: 20%; margin: 0 2% 2%; display: inline-block; vertical-align: middle; cursor: pointer; max-width: 98px; }
.product-view .product-slider #thumbcarousel .item .thumb .img-thumbnail {border: none;}
.product-view .product-slider #thumbcarousel .item .thumb:hover { border-color: #1089c0; }
.product-view .product-slider .inner-item  { width: 100%; height: auto; }
.product-view .product-slider .upper-image .inner-item { width: 100%; min-height: 350px; max-height:350px;display: flex;align-items: center; border: 1px solid #cecece;    overflow: hidden; }
.product-view .product-slider .upper-image .inner-item img{ width: 100%;}
.carousel-inner .upper-image{border:1px solid #ddd;}
.product-view .carousel-control { color: #0284b8; text-align: center; text-shadow: none; font-size: 30px; width: 30px; height: 30px; line-height: 20px; top: 23%; }
.product-view .carousel-control:hover, .carousel-control:focus, .carousel-control:active { color: #333; }
.product-view .carousel-caption, .carousel-control .fa { font: normal normal normal 30px/26px FontAwesome; }
.product-view .carousel-control { background-color: rgba(0, 0, 0, 0); bottom: auto; font-size: 20px; left: 0; position: absolute; top: 30%; width: auto; }
.product-view .carousel-control.right, .carousel-control.left { background-color: rgba(0, 0, 0, 0); background-image: none; }
.shop-view .quantity-wrap #quantity{ height:36px; padding: 0 16px; }
.shop-category-page-title, .preowned-item-category-page-title{font-size:30px;}


 body .products .thumbnail.list a > img { height: auto!important }
/* Login Registration */
.new-registration { width: 45%; margin: 30px auto !important; padding: 30px; border: 2px solid #26a65b; border-radius: 10px; }
.new-registration div, .form-group-reg-otp-div { padding: 0; }
.user_login { margin: 30px 0 !important; padding: 22px; border: 2px solid #26a65b; border-radius: 10px; height: 360px; display: table-cell; vertical-align: middle; }
.login-form-box { margin: 30px 0 50px; }
.alert-box-login .notification_div{margin-top: 0 !important;}
.user_login div { padding: 0; }
#submit_otp { float: left; }
.red { color: #f00; }
#cart-item-no {position: absolute; top: -11px; left: 13px; background: #26a65b !important; color: #fff; padding: 5px 8px; border-radius: 20px; font-size: 10px; }
.change-password-part .row.user_login { height: auto; max-width: 400px; display: block; margin: 20px auto 50px !important; }
.change-password-part .well.well-sm { background: none; border: 0; }
.login-remember-me { display: none; }
.submit_login_otp_text{padding-top:10px !important;}
.submit_login_otp_text{color:#a94442;}
/* End of  Login Registration */

/* Sell Scrap */
.col-md-6.customer-presence-section { padding: 0; }
.customer-presence-section{padding: 0;}
.green-text { color: #25a55b !important; }
.orange-text { color: #f0792e !important; }
.or { background:url("../images/icons/OR.png")no-repeat center center;  text-align: center;display: flex;height: 360px;align-items: center;justify-content: center; }
label.control-label.customer-presence-day-heading { font-size: 20px; text-align: center; display: block; }
.sell-scrap h1 { text-transform: uppercase; text-align: center; margin: 50px 0; }

.sell-scrap-alert { text-align: left!important; }
.sell-scrap-alert .periodic-heading { margin-bottom: 15px; text-align: center!important; }
/*.sell-scrap-info.open { max-height: 100%; padding: 10px; border: 1px;}*/

/* End of  Sell Scrap */

/* Pre-owned */
    body .products .thumbnail a > img { width: auto; }
    /*body .products .item { min-height: 290px; }*/
    .item-wrap { display: flex; flex-wrap: wrap; border-left: 1px solid #ccc;}
    .item-wrap .nav.nav-pills { width: 100%; }
    .item-wrap img { width: 100%!important; }
    .mobile-cat .nav-tabs > li > a{ padding: 0 0 5px; }
    .category-grid { display: flex; flex-wrap:wrap; }
    .user_product_cat .thumbnail > a { min-height: 185px; display: block; max-height: 185px; overflow: hidden; }
/* End Of Pre-owned */

/* Forget Password */
    .forget-password .text-danger-email { padding-top: 15px; }
    .forget-password-otp-text{padding-top:15px;margin-bottom:15px;}


/* Wishlist */
.wishlist-tiles-description-info{height: 22px; overflow: hidden;}
.wishlist-tiles {  background: url("../images/icons/top-bottom.png")no-repeat right bottom; }
.thumbnail.wishlist-tiles:hover { cursor: pointer; }
.thumbnail.wishlist-tiles { max-height: 97px; overflow: hidden; transition: max-height 0.5s cubic-bezier(0, 1, 0, 1); }
.thumbnail.wishlist-product-info { max-height: 100%; transition: max-height 0.5s ease-in-out; }
.wishlist-product-info { background:url("../images/icons/top-arrow.png")no-repeat right bottom; } 
.wishlist-product-info .wishlist-tiles-description-info{height: auto; overflow: visible;}
/* End of  Wishlist */

/* add-wishlist */
.wishlist-add-view .product_div.product_add_btn_div .col-sm-6 { padding-left: 0; }

/* Update Scap Request */
.edit-scrap-type label:hover, .form-group-scrap-type label:hover { cursor: pointer; }
.form-group-scrap-type, .edit-scrap-type { display: flex; flex-direction: column; justofy-content: center; text-align: center; }


/* Profile */
#profile_update { margin: 20px 0 30px; }
.orange-bg { background-color: #f1c40f; color: #fff; padding: 0 8px; margin: 0 5px;}
.profile-data{display: flex;flex-wrap: wrap;}
.my-profile .page-header { padding-left: 15px; }
.my-profile .request-info-box{display: none;}
.my-profile .fileinput .thumbnail>img {max-height: 250px;}
.my-profile .text-danger-otp p{margin-bottom:0;}
.my-profile .mobile_verification_submit,.my-profile .mobile_verification_resend{ margin-top: 10px; margin-right: 10px;}

/* End of  Profile */

#mini-cart .alert { padding: 5px 0 5px 0px; }
#mini-cart .table-striped > tbody > tr:nth-child(2n+1) { background-color: #f0792e !important; color: #fff; }
#mini-cart .table-striped tbody tr td:first-child { width: 65%; }
#mini-cart .table-striped tbody tr td:last-child { text-align: center; }
#mini-cart .table-striped > tbody > tr:nth-child(even) { background: #989898; }
#mini-cart a:hover { text-decoration: none; }
#mini-cart .btn-success {  }
#mini-cart>a.btn-success, #mini-cart>a.btn-success:hover, #mini-cart>a.btn-success:focus { background: #5cb85c; }
#mini-cart>a, #mini-cart>a:hover, #mini-cart>a:focus { border : 0; text-decoration: none; }

/*Cart View*/
.cart-items-wrap { overflow-x: auto; }
#cart_items .close a { color: #000; text-decoration: none; }
.green-panel { border-color: #44d480; }
.green-panel .panel-heading { background-color: #44d480; border-color: #44d480!important;}
.green-panel .panel-content { padding: 25px 30px; }
.green-panel .panel-content .list { margin-bottom: 30px; }
.green-panel .panel-content .list li { margin-bottom: 5px; }
.profile-update-notice{font-size:20px;background:antiquewhite;padding:5px 16px;}


/* Checkout complete */
.checkout-complete .thanks-part{margin-top: 50px;font-size: 22px; font-weight: 600;}

/* Header */
.user-and-cart { display: none; }
.mobile-menu-link { display: none; }
.mobile-cat .mobile-menu-link { display: inline-block; width: 100%; background: #8fbc8f;padding-left:10px; font-size:20px; margin-bottom: 25px;}
.mobile-cat .mobile-menu-link .caret { float: right; margin-top: 10px; border-width: 7px; margin-right:10px; }
.mobile-cat .mobile-menu-link .caret.active { -webkit-transform: rotate(180deg);   -ms-transform: rotate(180deg); transform: rotate(180deg); }


.user-dashboard-header .caret.active { -webkit-transform: rotate(180deg);   -ms-transform: rotate(180deg); transform: rotate(180deg); }

.mobile-cat a { font-weight: 400!important; text-decoration: none; }
.mobile-cat .mobile-menu-link span{ color: #fff;}
.mobile-cat .nav-tabs { padding-bottom: 15px; background:#ffffff; }
.mobile-cat .nav-tabs li a{color:#000000;font-size:18px;padding:8px 0;}
.mobile-cat .nav-tabs li{border:1px solid #26A65B; border-top:0;}

/* Add Wishlist */
.wishlist-add-btn, .wishlist-clear-btn { padding: 0 15px !important; }
.wishlist-form select { padding: 6px; width: 100%; }
.wishlist-add-view, .wishlist-edit-view, .product-view { margin-top: 3em; }
.user-product-view,.greenree-shop-view {margin-top:1em;}
 .dashboard-product-view  { margin-top:0; }
.wishlist-form { margin: 3em auto 0 !important; border: 2px solid #f0792e; padding: 50px 30px; border-radius: 5px; width: 60%; float: none; }
.add-wishlist-list .wishlist_cat { border-left: 0; }
input#redeem_btn_modal{margin-top:40px;}


.wishlist-form-center{margin: 0 auto !important;float: none; }
/* .dashboard-header > .container { width: 100%; padding: 0; } */
.dashboard-header .nav-tabs .active a { border: navajowhite; background: #26a65b; }
.nav-tabs > li > a:hover { border: none; }
.dashboard-header .nav-tabs .active a:hover { background: #26a65b; border: none; color: #fff; }
/* .nav.nav-tabs { display: flex; justify-content: center; }
.nav.nav-tabs.scrap_list_table { justify-content: left; } */
.wishlist-form h2 { margin-top: 0 !important; }
.nav > li > a { border: 0 !important; }
.nav-tabs > li { margin-bottom: 0; }
.dashboard-header {/* background: #8fbc8f;*/ margin-bottom: 0em; }

/* dashboard view page*/
.glyphicon-wallet:before{content:'&#xf555;';}
.dashboard-alert-redeem-button p{margin:0px; padding:10px;}

/* Add new product & Edit new product*/
#add-product select, #edit-product select { display: block; padding: 6px; width: 100%; }
.banner-side-image3 span { color: #000; }
.product-list .btn.btn-success.btn-lg { margin: 15px; }
.dashboard-add-product-btn{ margin: 0 0 10px; float: right }

/* Contact */
.contact-us-title h1 { margin-bottom: 50px; }
.google, .twiter { display: none; }

/* Dashboard buttons */

.dashboard-wishlist-page-btn,.dashboard-product-list-add-btn { background: #5cb85c url("../images/icons/add1.png") no-repeat 8px center; width: 180px; padding-left: 36px; } 
.dashboard-wishlist-page-edit-btn, .dashboard-product-list-edit-btn, .periodic_update_btn1, .non-periodic-update1 { background: #5cb85c url("../images/icons/edit1.png") no-repeat 10px center; width: 65px; background-size: 14px; text-align: right; padding-right: 14px; }
.dashboard-product-list-close-btn, .non_periodic_cancel, .dashboard-wishlist-page-close-btn { background: #d9534f url("../images/icons/close1.png") no-repeat 10px center; width: 100px; border: 0; background-size: 15px; text-align: right; }
.dashboard-wishlist-page-close-btn { background: #d9534f url("../images/icons/close1.png") no-repeat 10px center; width: 100px; border: 0; background-size: 15px; text-align: right; }
.btn-danger.pause { background: #d9534f url("../images/icons/pause1.png") no-repeat 10px center; width: 76px; text-align: right; background-size: 15px; }
.show_button, .redeem_show  { background: #428bca url("../images/icons/show-more1.png") no-repeat 10px center; width: 110px; text-align: right; }
.dashboard-product-list-view-inquiries-btn { background: #f0ad4e url("../images/icons/inquiries1.png") no-repeat 10px center; width: 120px; background-size: 16px; text-align: right; }
.edit-and-repost { width: 130px; }

.dashboard-wishlist-page-repost-btn, .dashboard-product-list-repost-btn { background: #5cb85c url("../images/icons/repost1.png") no-repeat 8px center; width: 82px; text-align: right; }

/* Shop */
 .hidden-xs .lead { background: #26a65b; color: #fff; padding: 5px 10px; }
.hidden-xs .list li { background: url("../images/icons/arrow1.png") no-repeat left; padding: 0 0 5px 18px; background-size: 6px; border-bottom: 1px solid #ccc; margin-bottom: 5px; }

.products_filter-link { display: none; }

.user-drop-down.dashboard .login-user.dropdown-toggle img { width: 20px; height: 20px; border-radius: 25px; position: relative; top: -1px; }
.alert.alert-success { margin: 30px 0; }

.user-drop-down a { text-overflow: ellipsis; max-width: 170px; display: block; overflow: hidden; white-space: nowrap; }

.dropdown-menu li a:hover { color: #f0792e !important; }
.row.repost_product_form { padding: 3em 0; }
#password { margin-bottom: 30px; }
.wishlist-edit-repost { width: 130px; }
.repost-wishlist h2 { margin-bottom: 40px; }

.products.shop .thumbnail{min-height: 220px;}
.products.shop img.group.list-group-image{max-height: 220px;width: auto!important;}    
/* Responsive CSS */

@media (max-width: 1170px){ 
	.container { width: 100%; }
	.menu-list{padding-left: 0!important;padding-right: 0!important;}
	.navbar-default{min-height: auto;}
	.nav>li>a {padding: 10px;}	
	.wallet_cash {margin-left: 288px;padding-left: 15px!important;
		padding-right: 10px!important;}
	/* .dashboard{width: 122px;} */
	.sell_now{padding-left: 16px!important;padding-right: 16px!important;}
	.col-md-5.lgn-btn { float: left; }
}
@media (max-width: 1080px){ 
    
	.navbar-right {margin-left: 70px;}
}

@media (min-width: 992px) and (max-width:1024px){
    
    .navbar-right { margin-left: 46px; }
    .form-group-request-type .request-type-heading, .form-group-customer-presence .request-type-heading { font-size: 20px; }
    .header hr, .container.text-muted.nav-bar { margin: 0; }
    
    /* .wishlist-add-view .product_quantity_div label { font-size: 20px; } */
    .app-link .app-link-text{font-size: 22px !important;}
     
     /* Login */
     .forget-pwd { width: 140px; display: block; }
     .user_login { height: 374px; }
}

@media (max-width: 991px){
    
    /*banner part*/
     .home-slider{padding-left: 0;}	
    /*About us part*/
    .dustbin-box{padding-top: 45px;}
    .dustbin-box img{padding-top: 0;}
    /*the process part*/
    .the-process-text,.blue-arrow,.orange-arrow{display: none;}
    .carton-boxes{padding-bottom: 30px;}
    .sell-paid,.pick-up{padding-bottom: 60px;}
    .sell-paid h4,.pick-up h4{padding-top: 45px;}
    /*globe part*/
    .globe-part-img img{padding-top: 160px;}
    .globe-part-text p{font-size: 32px;}
    .globe-part-list span{font-size: 40px;}
    /*reuse-reduce part*/
    .printer-part .top{font-size: 50px;}
    .printer-part .middle {font-size: 32px;}
    .printer-part .middle span {font-size: 43px;}
    .printer-part .bottom{margin: 0;font-size: 20px;}
    
    .reuse-reduce-logo{text-align: center;padding: 30px 0; }
    .navbar-right {margin-left: 0px;}
    .wallet_cash {margin-left: 288px;padding-left: 0;
    		padding-right: 0;}
    .user_products{width: 195px;}
    .sell_now{padding-left: 5px!important;padding-right: 5px!important;}
    .carousel-inner .sell_now { padding: 0 !important; }
    .all_wishlist{padding-left: 3px!important;padding-right: 10px!important;}
    
    .form-group.form-group-scrap-type { margin: 40px auto; display: block; text-align: center; }
    .edit-scrap-type { margin: 40px auto; display: block; text-align: center; }
    .app-link .app-link-text{font-size: 22px !important; display: block;  }
    .app-link-img img { max-width: 46%; }
    
    .closing-view .closing-view-div { width: 50%;}
    
    .product-list .row { clear: both; }
    .wishlist-page .product-list div:nth-child(2) { width: 100%; text-align: right; }

}

@media (min-width: 768px) and (max-width:1024px){
    
    #sell-scrap .inner-section, #preowned .inner-section, #shop-section .inner-section, #wishlist .inner-section { width: 100%; padding: 0 20px; }
    .cart_btn a { padding: 6px 0 !important; }
    
    #scrap-order-dashboard { margin-left: 5%; }
    .user_product_cat .thumbnail > a { min-height: 130px; }
    .dashboard-box .alert-info p { padding-left: 50px; }
    .header .header-hr{margin-top:0;}
    .header .container.text-muted.nav-bar{margin-bottom:0;}
    
    /* User Dashboard */
    .dashboard-box { margin-bottom: 25px; }
    .dashboard-box .col-md-12 .col-md-4 { width: 33%; float: left; }
    
    /* Add Wishlist */
    #add-wishlist-list .wishlist_cat.item-wrap .item { width: 100%; }
    
    /* Cart */
    #cart_content #ajax_content { width: 90%; margin: 0 auto; }
}

@media (min-width: 768px) and (max-width:991px){

	/*header*/
	.greenree-logo{text-align: center;}
	.navbar {min-height: 0;}
	.nav>li>a {padding: 10px;}
	/*footer*/
	.footer-top-logo-part{width:40%;padding: 0;}
	.quick-links-part{width:21%;padding: 0;}
	.get-in-touch-part{width: 39%; padding: 0;}
	.sell-scrap .info{float: right;}
	
	/*Sell Now*/
	.request-box .col-md-6 { width: 50%; float: left; }
	.request_details .first-half, .request_details .second-half { width: 48% !important; float: left; margin-left: 0; }
	#submit_request { display: table-caption; }
	.cd-top { right: 20px; bottom: 20px; }
	.two-options { padding: 15px 0 40px 0; }
	.form-group-request-type .request-type-heading, .form-group-customer-presence .request-type-heading { text-align: center; }
	
	/* About Us */
	#sell-scrap .col-md-9 { float: right; width: 75%; }
	#sell-scrap .info { margin-left: 0; float: left; }
	.navbar-right { float: none !important; margin: 20px auto !important; }
	.menu-list { display: flex; }
	
	/* login Registrartion */
	.new-registration { width: 60%; }
	.new-registration div { width: 100%; }
	.verify_number_part .col-md-3, .verify_number_part .col-md-4 { float: left; width: auto; }
	.verify_number_part .col-md-3 input { margin-left: 0 !important; }
	.or { height: 60px; }
	.row.user_login { display: block; width: 60%; height: auto; margin: 30px auto !important; }
	.otp-resend_btn .col-md-5 { width: 50%; float: left; }
	
	/* Dashboard */
	.panel.panel-default.text-center { min-height: 155px; }
	
	/* Cart */
	.profile-update-notice { font-size: 18px; }
	
	/* Add new product */
    .add-product-form div { width: 100%; padding: 0; }
    .add-product-form div:last-child { display: flex; justify-content: center; }
    .add-product-form div:last-child > div { width: 46%; padding: 10px; }
    .product_add_btn_div  { display: flex; justify-content: center; }
    .product_add_btn_div div:last-child > div { width: 46%; padding: 10px; }

    /* Add new wishlist */
    .add-wishlist-form div { width: 100%; padding: 0; }
    
    /* Wishlist */
    .wishlist_cat.item-wrap .item { width: 50%; }
    
    .profile-data { display: block; }
    
    .repost-wishlist #product_quantity { margin-bottom: 20px; }
	
}

@media (max-width: 767px){
    
	.container { padding:0 15px;}
	.col-xs-7{padding: 0;}
	.item-wrap { border-left: none;}
	/*modal(pop-up) part*/
    #myForm .modal-dialog {position: relative;left:47%;}
	.modal-content {max-width: 250px; }
    .modal-content {padding:0;}
    .form-container input[type=text]{margin:0;}
    .form-container .btn {width:auto;padding: 10px 10px;}
	/*header*/
	.col-xs-8{padding: 0;}
	.nav-bar {padding: 0;}
	.greenree-logo{display: none;}
	.navbar-nav{display: block;}
	.navbar-collapse{border: none;}
	.menu-list{display: none;}
	.sell_now{padding: 5px 10px !important;}
	.mobile-menu-link { color: #000 !important; }
	.login-user { left: -20px; position: relative; }
	.login-user.dropdown-toggle { left: 0; }
	.user-drop-down.dashboard { width: auto; text-align: right; min-width: 100px; }
    .navbar .dropdown .glyphicon { margin-right: -10px; }
    
    /* User Dashboard */
    .dashboard-box { margin-bottom: 25px; }
    .nav-bar-btn.user-drop-down.dashboard.scroll-item.dropdown > a { text-overflow: ellipsis; max-width: 121px; display: block; overflow: hidden; white-space: nowrap; }
    .nav-bar-btn.user-drop-down.dashboard.scroll-item.dropdown > a .glyphicon.glyphicon-user { right: 0px; padding-right: 10px; }

	/*footer*/
	.footer-top-logo-part,.footer-top-logo-text,.quick-links-part,
	.get-in-touch-part,.col-md-12{padding: 0;}
	.quick-links-part{width: 40%;}
	.get-in-touch-part{width: 60%;}
  .footer .google-reviews-wrapper{margin-bottom: 20px;}
	/*banner-part*/
	.home-slider,.banner-side-image{padding: 0 0 15px 0; width: 100%}	
	.banner-side-image > div {float: left; clear: none;width: 50%;}
	.banner-side-image1,.banner-side-image3{padding-left: 2px!important;}
	.banner-side-image2,.banner-side-image4{padding-right: 2px!important;}
	.banner-side-image1 a.sell_now_image.sell_now { padding-left: 0 !important; display: contents;}
	.banner-part a img { width: 100%; }
	/*about-us*/
	.about-us-howitworks{margin-bottom: 15px;}
	.about-us{ margin-bottom: 30px; margin-top: 20px;}
	.about-us h3{padding: 0;text-align: center;margin: 0;}
	.dustbin-box{padding: 20px 0; float: none;text-align: center;}
	.about-us-text{padding: 0; text-align: center;}
	.about-us-text p{ padding-bottom: 10px; text-align: left;}
	/*the process*/
	.the-process{padding-top: 40px;padding-bottom: 0px;}
	.the-process .row:last-child {padding-bottom: 30px;}	
	.sell-paid, .pick-up{padding-bottom: 30px;}
	/*globe part*/
	.globe-part{padding-top: 40px;margin-bottom: 10px;}
	.globe-part-img {padding-top: 10px;}
	.globe-part-img img{max-width: 40%;}
	.globe-part-content,.globe-part-img img{padding-top: 0;}
	.globe-part-text p{line-height: 1.1em;}
	.globe-part-list{padding-top: 20px;}
	.globe-part-list ul li {padding-bottom: 30px;}
	.globe-part-list ul {padding-top: 10px;}
    /*printer part*/
    .printer{padding-left: 5px;}
    .printer-part{background-size: 55%;padding: 50px; padding-left: 30px;}
    .printer-part .top{ margin-bottom: 5px;}
    .printer-part .middle{margin-bottom: 10px;}
    .reuse-reduce-logo{width: 100%; padding: 10px;}
    .reuse-reduce-logo img{max-width: 300px; padding: 10px;}
    .printer-part.printer-part1 .bottom1 { margin: 15px 0 35px; line-height: 24px; }
    .app-link img{max-width:30%;margin-top: 0px;}
    
    /*footer part*/
    .footer-top-logo-part{padding-top: 15px;}
    .footer-top-logo-text{padding-top: 10px;}
    .footer-top-header {padding-top: 25px;padding-bottom: 0;}
    .get-in-touch{padding-bottom: 20px;}
    .carton-box .row { display: block; }
    .reuse-reduce { padding: 30px 0 0; }
    .reuse-reduce .reuse-reduce-logo { float: none!important; }
    .navbar-nav li.nav-bar-btn { padding: 5px 10px; border-bottom: 1px solid #ccc; }
    .upper-header .top-nav { display: none; }
    
    /*Sell Now Page */
    .banner-section { margin-bottom: 15px; }
    .request_details .first-half, .request_details .second-half { width: 100%;  }
    .request_details .second-half { margin-top: 30px; margin-left: 0; }
    .banner-section { height: 175px; }
    .banner-caption { font-size: 22px; }
    #submit_request { margin: 30px auto 50px; }
    .facts { margin-top: 30px; }
    .sell-scrap-type { padding: 20px 0; }
    .request-box { padding-bottom: 30px; }
    .two-options { padding: 15px 0px 30px 0; }
    .form-group-request-type .request-type-heading, .form-group-customer-presence .request-type-heading { text-align: center; }
    .request-box .col-md-4:nth-child(2) { margin-bottom: 30px; }
    
    /* About Us */
    #sell-scrap .inner-section, #preowned .inner-section, #shop-section .inner-section, #wishlist .inner-section { width: 100%; padding: 0 15px; }
    .about-us-page .align-right { float: none; }
    .sell-scrap .periodic-list, .sell-scrap .non-periodic, .preowned .preowned-list, .shop-section .shop-section-list, .wishlist .wishlist-list { padding-left: 0; }
    #sell-scrap .info, #shop-section .info { margin-left: 0; }
    #shop-section img, #wishlist img, #preowned img { margin: 20px auto; width: 400px; display: block; }
    
    /*contact us Page Page part end*/
    .contact-us-page .contact-us-text{ margin-bottom: 30px; }
    /*contact us Page Page part end*/
    
    /* Login Regitration */
    .new-registration { max-width: 100%; width: 400px; padding: 20px; }
    #reg_resend_otp { margin-left: 14px !important; }
    #verify_register_otp { margin-left: 0 !important; float: left; }
    .user_login { max-width: 100%; width: 400px; height: auto; display: block; margin: 30px auto !important; }
    .or { height: 55px; }
    #otp{ max-width: 100%; }
    .otp-resend_btn .col-md-5 { width: 50%; float: left; }
    #resend_otp { margin-left: 25px !important; }
    .login-form-box { margin: 0 0 30px; }
    .alert{margin-bottom:0;}
    .alert-box-login .notification_div{padding:0 15px;}
    
    /* pre Owned Items */
    body .products .item { min-height: auto; }
    body .products .container > .row { display: flex; flex-wrap: wrap; } 
    body .products .container .item { width: 50%; }
    .shop-add-new-product1{ display:block;}
    .product-view .item.col-md-3 { width: 50%; float: left;}
    /* Profile */
    #profile_update { margin: 15px 15px 40px; }
    .profile-data { display: block; }
    
    /* FAQ's */
    .accordion { line-height: 24px !important; padding: 15px 0px 15px 20px !important; }
    
    /* Forget Password */
    .forget-password .col-md-4 .panel-body { margin: 0 15px; }
    .forget-password-otp-text #new-otp{margin-bottom:15px;}
    /*Wishlist*/
    .wishlist-tiles-view .item { width: 100%; }
    
    /* add-wishlist */
    .wishlist-add-view .product_div.product_add_btn_div .col-sm-6 { margin-bottom: 10px; width: 130px; float: left; }
    .product_div.product_category_div { margin-top: 0px; }
    .wishlist-add-view-parent{ display: flex; flex-wrap: wrap;}
    .add-wishlist-list{order: 2; padding-top:15px!important;}
    .add-wishlist-form{order: 1;}
    .existing-wishlist{display:block!important;margin-bottom:20px;cursor:pointer; text-align: center !important; width: 100%;}
    .existing-wishlist a{color:#333!important;}
    .add-wishlist-list h3 { text-align: center; width: 100%; }
    .add-wishlist-list .item { width: 290px; margin: 0 auto; }

    /* cart */
    #cart_items tr.cart-item-thumb { display: block; }
    #cart_items .item-name { font-size: 12px; display: block; line-height: 1.2; }
    #cart_items .lead { margin-bottom: 0; }
    #cart_content #ajax_content .discount-wrap { padding: 10px!important; }
    .cart-items-wrap { margin: 30px 0 !important; display: block; }
    .profile-update-notice { display: block; }

    /* Header */
    .navbar-toggle { float: left; margin: 4% 10px 8px; padding: 6px 4px; }
    .navbar-brand { padding: 5px 0px; width: 40%; height: auto; }
    .user-and-cart { float: right; list-style: none; margin: 24px 5px 0px 13px; }
    .user-and-cart li { float: left; left: -20px; }
    .glyphicon { right: 12px; }
    #cart-item-no { left: -1px; top: -15px; }
    .login-user, .all_wishlist { border-left: 0px solid; }
    .header hr { margin-top: 0; }
    .user-and-cart { display: block; }
    .container.text-muted.nav-bar { margin: 0; }
    .responsive-tab li { width: 100%; text-align: center; }
    .nav.nav-tabs.responsive-tab { display: none; }
    .mobile-menu-link { display: flex; justify-content: center; color: #fff; padding: 10px 0; }
    .shop-category-view .mobile-menu-link { padding: 5px 0; }
    .shop-category-view .mobile-menu-link:first-child { padding-left: 10px; }
    .shop-category-view .dashboard-header .container{padding:0;}
    .responsive-tab.active { display: block !important; }
    .mobile-menu-link .navbar-toggle { margin: 0 5px 0 0; background: #fff; padding: 4px; }
    .mobile-menu-link .navbar-toggle .icon-bar { background: #888; margin-top: 2px; }
    .user-and-cart li a i { margin-right: 0 !important; }
    .dropdown-menu { left: auto; right: 0; }
    .alert.alert-info.alert-inbox span { padding-left: 0; display: flex; flex-direction: column; text-align: center; }
    #registration-page-link { width: 150px; margin: 5px auto 0; }
    
    /* Add Wishlist */
    .wishlist-form { width: auto; margin-top: 0 !important; }
    .wishlist-form .col-md-4 { padding: 0; }
    .wishlist-form  .product_add_btn_div { display: flex; justify-content: center; margin-bottom: 0; }
   
    
    /* Add product */
    #add-product .col-md-4, #edit-product .col-md-4 { padding: 0; }
    
    /*close product*/
    .closing-view .closing-view-div { width: auto;}
        
    /* Update scrap type */
    .update .container { padding: 10px; }
    .form-group.form-group-scrap-type { margin: 40px auto; display: block; text-align: center; }
     .edit-scrap-type { margin: 40px auto; display: block; text-align: center; }
    #scrap-order-dashboard { text-align: center; }
    .form-group-scrap-type .request-type-text.not-present-in-pickup, .form-group-scrap-type .request-type-text.present-in-pickup { margin-left: 0 !important; }
    .edit-scrap-type .request-type-text.present-in-pickup, .edit-scrap-type .request-type-text.not-present-in-pickup { margin-left: 0 !important; }
    
     .app-link .app-link-text{font-size: 20px !important; line-height: 22px;
margin-bottom: 10px;  display: block !important; height: auto; }
    .app-link .app-link-img { text-align: center; }
    
    /* Add new product */
    .add-product-form div { width: 100%; padding: 0; }
    .add-product-form div:last-child { display: flex; justify-content: center; }
    .add-product-form div:last-child > div { width: 46%; padding: 10px; }
    
    /* Add new wishlist */
    .add-wishlist-form div { width: 100%; padding: 0; }
        
    /*profile*/
    .my-profile .request-info-box{display: block;}
    
    /*Dashboard*/
    .user-dashboard-header {margin-bottom: 0em; }    
    .user-dashboard-header a span {font-size:20px;color:#fff;} 
    .user-dashboard-header .mobile-menu-link{background: #8fbc8f;    text-decoration: none; }
    .user-dashboard-header .nav-tabs{background:#fff;}
    .user-dashboard-header .nav-tabs li a{color:#000000;font-size:18px;padding:8px 0; border-radius: 0; margin-right: 0;}
    .user-dashboard-header .nav-tabs li{border:1px solid #26A65B; border-top:0;}
    .dashboard-box .glyphicon { right: 0px; }
    .dashboard-box .alert-info p{padding-left:50px;}
    .mobile-menu-link .caret { position: absolute; right: 30px; border-top: 8px solid; border-right: 8px solid transparent; border-left: 8px solid transparent; margin-top: 10px; }
    /*wishlist*/
    .modal-content { max-width: 300px; padding: 15px; }
    
    /* Pre-owned category view page */
    .preowned-category-view .breadcrumb, .shop-category-view .breadcrumb{ display: none; }
    .preowned-category-view .form-group.block-range,.shop-category-view .form-group.block-range{ width: 50%; float: left; }
    .preowned-category-view .form-group.block-range-btn, .shop-category-view .form-group.block-range-btn { width: 100px; float: left; margin: 9px 0 0 10px; min-height: 18px; }
    .preowned-category-view form, .shop-category-view form { display: flex; justify-content: center; }
    .products_filter { display: none; }
    .products_filter-link { display: block; padding: 5px 10px; text-align: center; margin: 15px 0 0; }
    .products_filter-link { background: #f38d4d; color: #fff !important; }
    .products_filter .page-header { margin-top: 15px; }

    
    /* Shop */
    .shop-add-new-product1 { padding-left: 15px; }
    .shop .mobile-cat .mobile-menu-link, .products.sell .mobile-cat .mobile-menu-link, .preowned-category-view .mobile-cat .mobile-menu-link, .shop-category-view .mobile-cat .mobile-menu-link, .common-wishlist .mobile-cat .mobile-menu-link{margin-bottom:0}
    .shop .item-wrap.shop, .products.sell  .item-wrap.user_product_cat, .preowned-category-view .user_product_cat.item-wrap, .shop-category-view  .item-wrap.shop, .common-wishlist .item-wrap.wishlist_cat{ padding-top: 25px; }
    
    .repost-wishlist { margin-top: 3em !important; }
    .repost-wishlist #product_quantity { margin-bottom: 20px; }
    .repost-wishlist { width: 100% !important; }

}

@media (min-width: 640px) and (max-width: 767px){
    
    .request-box .col-md-6 { width: 50%; float: left; }
    .request_details .first-half, .request_details .second-half { width: 48%; float: left; }
    .request_details .second-half { margin-top: 0px; }
    #submit_request { display: table-caption; }
    .printer-part { padding: 0 50px 50px 50px; }
    .wishlist-tiles-view .item { width: 50%; }
    .wishlist-form { width: 450px; }
    #add-product, #edit-product { width: 70%; margin: 0 auto; }
    .my-profile form { width: 400px; margin: 0 auto; }
     .user_product_cat .thumbnail > a { max-height: 40vh; }
     body .products .container .item, .shop-category-view .item {  width: 33.33%; }
     
     /* User Dashboard */
    .dashboard-box .col-md-12 .col-md-4 { width: 50%; float: left; }
}

@media (max-width: 640px){
	.printer-part{padding-left: 20px;}
	.reuse-reduce { padding-top: 0; }
	.reuse-reduce.even{padding-top: 30px;}
	    /* change password*/
  .change-password-part .row.user_login{max-width:300px;}
}
@media (max-width: 639px){
/*Scrap request*/
  .request_details .second-half {margin-top: 0;}
  .request_details .first-half .form-group-name input, .request_details .second-half .form-group-email input{margin-top: 0}
  .request_details .first-half .form-group-apartment select, .request_details .second-half .form-group-flat_no input{margin-bottom: 0;}
  .first-half,.second-half{width: 300px!important; margin-left: auto !important;;margin-right: auto !important;;}
  .request_details .second-half .form-group,.request_details .first-half .form-group{margin-bottom: 0}
}

@media (min-width: 480px) and (max-width: 639px){

    .printer-part { padding: 0 50px 50px 50px; }
    .wishlist-form { width: 450px; }
    #add-product, #edit-product { width: 70%; margin: 0 auto; }
    
    .my-profile form { width: 400px; margin: 0 auto; }
    .app-link img{max-width:200px;margin-top: 0px;} 
     
    /* User Dashboard */
    .dashboard-box .col-md-12 .col-md-4 { width: 50%; float: left; }
    .panel.panel-default.text-center { min-height: 156px; }
}

@media (max-width: 479px){
     .app-link img{max-width:45%;} 
	/*footer*/
	.quick-links-part,.get-in-touch-part{padding: 0;}
	.quick-links-part{width: 100%;}
	.get-in-touch-part{width: 100%;}
    /*banner-part*/
	.banner-side-image > div {float: none; clear: unset;width: 100%;}
	.banner-side-image1,.banner-side-image3{padding-left: 0!important;}
	.banner-side-image2,.banner-side-image4{padding-right: 0!important;}

	/*the process*/
	.the-process{padding-top: 40px;padding-bottom: 30px;text-align: center;}
	.carton-boxes,.sell-paid,.pick-up{background-position:top;padding-left: 0px;
		padding-top: 160px;padding-right: 0;}
	.sell-paid{padding-bottom: 20px;}
	.the-process .row:last-child{padding-bottom: 0px;}
	.sell-paid h4, .pick-up h4 { padding-top: 10px;}
	.pick-up{padding-bottom: 0;}
	.pick-up h4 {margin-top: 0;}
	/*globe part*/
	.globe-part{margin-bottom: 10px;}
	.globe-part-list{padding: 0;}
	.globe-part,.globe-part-list{padding-top: 30px;}
	.globe-part-img img{max-width: 55%;}
    .globe-part-list span{font-size:35px;}
    .globe-part-list ul{padding-top: 10px;}	
    .globe-part-list ul li {padding-left: 135px; padding-bottom: 5px;} 
    .globe-part-list ul li h4 {font-size: 19px;margin-bottom: 5px;}
    .globe-part-list ul li p {font-size: 17px;}
     /*printer part*/
    .printer{padding-left: 5px;}
    .printer-part{background-size: 50%; margin-bottom: 0; padding: 10px;}
    .printer-part .top{font-size:40px; margin-bottom: 5px;}
    .printer-part .middle{font-size:25px;margin-bottom: 10px;}
    .printer-part .middle span{font-size:32px;}
    .printer-part .bottom{font-size:18px;}
    .reuse-reduce-logo{width: 100%; padding: 10px;}
    .facts { padding-left: 0; padding-top: 60px; background-position: top center; }
    .reuse-reduce-logo img { max-width: 100%; padding: 0; }
    
    /* Shop */
    .products .item .caption a { display: block; }
    body .products.shop .thumbnail.list a > img, body .products.sell .thumbnail a > img { height: auto!important; }
    #cart_content #ajax_content .well.well-sm .btn-lg { padding: 7px; }
    
    /* Cart */
    #cart_items th.item { min-width: 150px; }
    #cart_items .quantity-box { width: 50px; }
    #cart_items .quantity-update { float: left }
    .user_product_cat .thumbnail > a { min-height: auto; }
        
    /*Product view*/
    .product-view .product-slider #thumbcarousel .item .thumb { width: 25%;}
    .product-view .product-slider {padding: 20px 15px;}
    .product-view .product-slider .upper-image .inner-item {width: 100%; min-height: 250px;max-height:250px;}
    
    /*wishlist*/
    .wishlist_cat .item { width: 100%; }
}

@media (max-width: 360px){
    
    #resend_otp { margin-left: 20px !important; }
    
   .user-and-cart { margin: 19px 5px 0px 6px; }
   .login-user { font-size: 13px; }
   .user-and-cart .user-drop-down.dashboard > a { width: 110px; font-size: 14px; }
   .wishlist-add-view .product_div.product_add_btn_div .col-sm-6 { width: 113px; }
    
}


@media (max-width: 320px){
    
    .form-group-request-type .request-type-text span { font-size: 18px; }
    body .products .container .item { padding: 0 5px; }
    
    .user-and-cart li { left: -12px; }
}